.message_container{
    background-color: rgb(79, 102, 195);
    padding: 0px 10px;
    margin: 5px 0px;
    border-radius: 7px;
    
}
.message_ouner{
    text-align: end;
}
.message_author{
    font-size: 12px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 4px 0px;
    
}
.message_text{
    padding: 5px;
    background-color: rgb(31, 30, 30);
    color: beige;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.message_time{
    padding: 4px;
    font-size: 11px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
