.header{
    width: 100%;
    padding: 20px 15px;
    margin-bottom: 20px;
    background-color: rgb(79, 102, 195);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_user_icon {
    width: 20px;
}
.header_user_name{
    font-size: 15px;
    font-weight: bold;
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header_logout{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    background-color: rgb(123, 144, 229);
    border-radius: 5px;
    cursor: pointer;
}
.logout_title{
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(68, 65, 62);
}
.logout_icon{
    font-size: 12px;
    color: rgb(68, 65, 62)
}